$grid-border-width: 2px;

body {
	background: #58a;
	background-image: linear-gradient(white $grid-border-width, transparent 0),
		linear-gradient(90deg, white $grid-border-width, transparent 0),
		linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),
		linear-gradient(90deg, hsla(0,0%,100%,.3) 1px, transparent 0);
	background-size: 50px 50px, 50px 50px,
	10px 10px, 10px 10px;
}
