@import "./grid.scss";

$color: #0fd15d;
$bg-color: white;
$scale: 1;
$grid-border-width: 2px;
$canvas-width: (300px - $grid-border-width) * $scale;
$a: $canvas-width * 0.31 * $scale;
$b: $canvas-width * 0.52 * $scale;
$rotateX-deg: -33deg;
$glow-height: 150px;
$glow-duration: 3s;
$glow-color: rgba(255,255,0,0.7);

#daocloud-logo {
	position: absolute;
	width: $canvas-width;
	height: $canvas-width;
	top: 100px;
	left: 100px;
}

.scene {
	width: $canvas-width;
	height: $canvas-width;
	perspective: $canvas-width * 4;
	perspective-origin: 50% 30%;
	position: absolute;
	top: 300px;
	left: 300px;
}

.cube {
	position: absolute;
	width: $canvas-width;
	height: $canvas-width;
	transform-style: preserve-3d;
	transform: rotateX($rotateX-deg) rotateY(45deg);
}

.side {
	position: absolute;
	width: $canvas-width;
	height: $canvas-width;
	background-color: $bg-color;
	@keyframes breath {
		from {
			opacity : 0;
		}
		45% {
			opacity: 1;
		}
		55% {
			opacity: 1;
		}
		to {
			opacity: 1;
		}
	}
	@mixin glow($position, $direction, $skewX, $rotateX) {
		&::before{
			content:'';
			display: block;
			position: absolute;
			@if $position == top { top: 100%; }
			@if $position == bottom { top: 0; }
			background: linear-gradient(to $direction, $glow-color, transparent);
			width: 100%;
			height: $glow-height;
			transform-origin: 0 0;
			animation: $glow-duration breath linear infinite alternate;
			transform: rotateX($rotateX) skewX($skewX);

		}
	}
	@mixin glow-side($width, $position, $skewX, $rotateX) {
		&::after{
			content:'';
			display: block;
			position: absolute;
			@if $position == right { left: 100%; }
			background: linear-gradient(to bottom, $glow-color, transparent);
			width: $width;
			height: $glow-height;
			transform-origin: 0 0;
			animation: $glow-duration breath linear infinite alternate;
			transform: rotate(90deg) rotateX($rotateX) skewX($skewX);
		}
	}
	.pic {
		position: absolute;
		background-color: $color;
		&#pic-top-1 {
			left: 0;
			top: 0;
			width: $a;
			height: $b;
			@include glow(top, bottom, 30deg, 135deg)
			@include glow-side($b, right, -45deg, 135deg);
		}
		&#pic-top-2 {
			right: 0;
			top: 0;
			width: $b;
			height: $b;
			@include glow(top, bottom, 45deg, 135deg);
			@include glow-side($b, left, -45deg, 135deg);
		}
		&#pic-top-3 {
			bottom: 0;
			right: 0;
			width: $b;
			height: $a;
			@include glow(bottom, bottom, 45deg, 135deg);
			@include glow-side($a, left, -30deg, 135deg);
		}
		&#pic-right-1 {
			left: 0;
			top: 0;
			width: $b;
			height: $a;
			@include glow(top, bottom, -45deg, 60deg);
			@include glow-side($a, right, 20deg, 0deg);
		}
		&#pic-right-2 {
			left: 0;
			bottom: 0;
			width: $b;
			height: $b;
			@include glow(bottom, bottom, -45deg, 60deg);
			@include glow-side($b, right, 20deg, 0deg);
		}
		&#pic-right-3 {
			bottom: 0;
			right: 0;
			width: $a;
			height: $b;
			@include glow(bottom, bottom, -45deg, 60deg);
			@include glow-side($b, left, 20deg, 0deg);
		}
		&#pic-front-1 {
			right: 0;
			top: 0;
			width: $b;
			height: $a;
			@include glow(top, bottom, 45deg, 60deg);
			@include glow-side($a, left, 20deg, 180deg);
		}
		&#pic-front-2 {
			right: 0;
			bottom: 0;
			width: $b;
			height: $b;
			@include glow(bottom, bottom, 45deg, 60deg);
			@include glow-side($b, left, 20deg, 180deg);
		}
		&#pic-front-3 {
			bottom: 0;
			left: 0;
			width: $a;
			height: $b;
			@include glow(bottom, bottom, 45deg, 60deg);
			@include glow-side($b, right, 20deg, 180deg);
		}
	}
}

.top {
	transform: translateY(- $canvas-width / 2) rotateX(90deg);
}
.right {
	transform: translateX(- $canvas-width / 2) rotateY(-90deg);
}
.front {
	transform: translateZ($canvas-width / 2);
}
